In [ ]:
#1- Variables

In [ ]:
print("Student's name is ahamd")  
print("Student's age is 15 " )    
print("Student's major is ")

In [59]:

name = "omar"
age = 20
major = "Computer Science"
name='sedra'

print("Student's name is                  " , name)  
print("Student's age is:", age)   
print("Student's major is:", major)  

# # Updating 
# major = "Software Engineering"


# print(name + " is now studying " + major + ".")

Student's name is                   sedra
Student's age is: 20
Student's major is: Computer Science

In [61]:
name = 'khaled'
print('welcame  ' + name +'in the game' )

welcame  khaledin the game

In [ ]:
#Types of variables

**number**

In [64]:
a = 11
x=10 * 5
print(x)

50

In [66]:
my_number=3
print(str(my_number)  + '  my favorite number')

-3  my favorite number

In [72]:
abs(my_number)
pow(2,4)
max(2,4)
min(2,4)
round(3.5)

4

In [74]:
import math # math.class.def

In [79]:
math.floor(3.9)
math.ceil(3.3)
math.sqrt(4)

2.0

In [ ]:
#int
age = 25
count = 1000

In [ ]:
#floats
height = 175.544444444444
pi = 3.14
#للفواصل

In [81]:
num1 = 5
num2 = 3
result = num1 + num2
print("The result is:", result)

The result is: 8

In [82]:
#str
name = "sedra"
message = 'Hello, world!'

print("ML\n DL")
print("ML\" DL")

ML
 DL
ML" DL

In [2]:
text='DATASET AND PERFORMANCE EVALUATION'
print(text.lower())
# print(text.upper())
print(text.islower())
print(text.isupper())

dataset and performance evaluation
False
True

In [93]:
print(len(text))
text[0]
text.index('r')

16

2

In [96]:
text.replace('here','there')

'there is the code'

**inputs**

In [99]:
name='enter your name : '
print('Hello ' , name)

Hello  enter your name :

In [101]:
#Lists
numbers = [1, 2, 3, 4, 5,6,7,8,9]
names = ['Ali', 'Sara', 'Khaled']
names = ['Ali', 'Sara', 'Khaled',1,False,[1,2]]  #لا يأخد العنصر الاخير

In [105]:
names[4]

False

In [109]:
names[0:4]

['Ali', 'Sara', 'Khaled', 1]

In [111]:
numbers[1:-1]

[2, 3, 4, 5, 6, 7, 8]

In [2]:

list1 = [1, 2, 3]
list2 = [4, 5, 6]


list1.extend(list2)


print(list1)

[1, 2, 3, 4, 5, 6]

In [4]:
list1 +=list2
list1

[1, 2, 3, 4, 5, 6, 4, 5, 6, 4, 5, 6]

In [5]:

list1 = [1, 2, 3]


list1.append(6)


print(list1)

[1, 2, 3, 6]

In [6]:
list10 = [1, 2, 3]
list10.insert(0,22)
list10

[22, 1, 2, 3]

In [7]:

list10 = ["apple", "banana", "cherry", "date","banana"]


# list10.remove("banana")


print(list10)

['apple', 'banana', 'cherry', 'date', 'banana']

In [8]:
list10.pop()
list10

['apple', 'banana', 'cherry', 'date']

In [9]:
list10.clear()
list10

[]

In [28]:
list10.index("banana")

1

In [29]:
list10.count('banana')

2

In [31]:
list10.sort()
list10

['apple', 'banana', 'banana', 'cherry', 'date']

In [33]:
new_list=list10.copy()
new_list

['apple', 'banana', 'banana', 'cherry', 'date']

In [ ]:
numbers = [5, 8, 2, 15, 3]
max_num = max(numbers)
print("The maximum number is:", max_num)

In [ ]:
text = "Hello, world!"
length = len(text)
print("Length of the text:", length)

In [ ]:
numbers = [10, 20, 30, 40, 50]
total = sum(numbers)
average = total / len(numbers)
print("The average is:", average)

In [47]:

char_list = ['a', 'b', 'c', 'd', 'e']


print("Original list:", char_list)

char_list.append('f')
print("After adding 'f':", char_list)


char_list.remove('c')
print("After removing 'c':", char_list)


index_of_d = char_list.index('d')
print("Index of 'd':", index_of_d)


char_list[index_of_d] = 'g'
print("After changing 'd' to 'g':", char_list)


char_list.sort()
print("After sorting the list:", char_list)


char_list.reverse()
print("After reversing the list:", char_list)


count = len(char_list)
print("Number of items in the list:", count)

Original list: ['a', 'b', 'c', 'd', 'e']
After adding 'f': ['a', 'b', 'c', 'd', 'e', 'f']
After removing 'c': ['a', 'b', 'd', 'e', 'f']
Index of 'd': 2
After changing 'd' to 'g': ['a', 'b', 'g', 'e', 'f']
After sorting the list: ['a', 'b', 'e', 'f', 'g']
After reversing the list: ['g', 'f', 'e', 'b', 'a']
Number of items in the list: 5

In [49]:
m=['css','html','python','java']

##################** test **

In [12]:
#tupls
aa=(1,3)
aa[0]

1

In [13]:
aa[0]=3

TypeError: 'tuple' object does not support item assignment

In [ ]:
coordinates = (10, 20)
colors = ('red', 'green', 'blue')

In [14]:
a=('red',1)

In [44]:
list_0f_tuple=[(1,2),(2,5)]
# list_of_tuple[0][1]=2

In [ ]:
#dic
person = {'name': 'Ali', 'age': 30, 'city': 'Cairo'}
student = {'id': 12345, 'name': 'Sara', 'age': 25}

In [15]:
convert_month= {'jan':'january' ,
                 'mar':'march'    }  # key uniq

In [28]:
convert_month['mar'] # first way

'march'

In [20]:
# convert_month= {'jan':'january' ,
#                  'jan':'march'    }
# convert_month['jan']

In [25]:
convert_month= {'jan':'january' ,
                 'mar':'march'    }  
print(convert_month.get('marr','the value is not exist'))

the value is not exist

In [29]:
convert_month= {1:'january' ,
                 'mar':'march'    }

In [ ]:
#sets

In [44]:
number=[1,3,3,4,4,3,6,1,8,4,5]
unique_list=[]

In [45]:
for number in number :
    if number not in unique_list :
        unique_list.append(number)

In [49]:
type(unique_list)

list

In [48]:
#second way 
number=[1,3,3,4,4,3,6,1,8,4,5]
unique_list2=set(number)
# unique_list2
type(unique_list2)

set

In [51]:
# dir(unique_list2)